footer{
    text-align: center;
    padding: 3em;
    background-color: #112211;
}
footer > p{
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(233, 225, 178);
}
.logo-icon{
    padding-left: 20px;
    padding-right: 2px;
}
